<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <title>Login to Qulture Rocks</title>
</head>

<body>

  <div class="container">
    <form>
      <input type="text" placeholder="Email" class="form-control">
      <input type="password" placeholder="Password" class="form-control">
      <button type="submit" class="btn btn-success">Sign In</button>
    </form>
  </div>

</body>
</html>
